<html>
<body>
<a href="http://www.google.com">
     <img src="/images/rain.jpg" alt="image is not present" width=300 height=300></a>
     <br>
     <br>
     <br>
     <table border=20>
     <th>Id</th>
     <th>Name</th>
     <tr>
     <td>100</td>
          <td>apurva</td>
</tr>
     <tr>
     <td>200</td>
          <td>pornima</td>
</tr>
<tr>
     <td>300</td>
          <td>jayshree</td>
</tr>
<tr>
     <td>400</td>
          <td>vaishnavi</td>
</tr>
</table>
<p>Get your greeting<a href="/sayhello">Click here</a></p>

<marquee>Hello, welcome to html page </marquee>

<form method="get" action="/sayhello">
<input type="text" name="uname">
<input type="password" name="pass">
<input type="submit" value="OK">
</form>


</body>
</html>